.container{
  padding: calc(5vw - 20px);
  background-color: black;
}

.title{
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: calc(18px + 2vw);
  margin: 0;
  padding: 1.5vw 0;
}

.creatorContainer{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.creatorCard{
  width: calc(100% / 3);

  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.creatorName{
  color: white;
}

.creatorCardMobile{
    display: none;
}

  /* All Tablets */
  @media only screen and (max-width: 990px){ 
    .creatorCard{
      width: calc(100% / 2);
    
    } 
  }
  /* All Mobiles */
  @media only screen and (max-width: 767px){ 
    .creatorContainer{
      display: none;
    }
    .creatorCardMobile{
      display: block;
    }
  }
