.container {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    overflow: hidden;
    position: relative;
    background: url('../public/img/landingImage.png');
    background-size: cover!important;
    background-position: center!important;
  }
  
  .card {
    width: 40%;
    left: 60%;

    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .cardMobile{
    display: none;
  }
  .circle {
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    opacity: 0.1;
    position: absolute;
    z-index: 999;
  }
  
  .circle1 {
    background-color: #01c686;
    right: -40vh;
  }
  
  .circle2 {
    background-color: #b0ff49;
    left: -50vh;
    top: -50vh;
  }
  
  .title {
    color: white;
    font-size: calc(20px + 2vw);
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 1vw;
  }
  
  .desc {
    color: white;
    font-size: calc(15px + 0.5vw);
    margin: 0;
    margin-bottom: 1vw;
  }
  
  .button {
    text-transform: uppercase;
    border: none;
    background-color: #E47011;
    color: white;
    font-weight: bold;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    animation: button 1s ease infinite alternate;
  }
  
  @keyframes button {
    to{
      background-color: #af9966;
    }
  }
  /* All Tablets */
  @media only screen and (max-width: 990px){ 
    .card {
        width: 50%;
        left: 55%;  
        padding: 80px;
      }
    } 
  /* All Mobiles */
  @media only screen and (max-width: 767px){ 
    .container {
        height: calc(70vh - 50px);
    }
        .card {
       display: none;
      }
       .button {
        padding: 15px;
      }
      .cardMobile{
        display: block;
        padding: 50px;
        align-items: center;
        text-align: center;
        justify-content: center;
      }   
    }
   
  @media screen and (max-width: 480px) {

    .circle1 {
      right: -50vh;
      bottom: -50vh;
    }
  
    .card {
      width: 100%;
      left: 0;
      right: 0;
      padding: 50px;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  

  }